body {
    background-color:white    
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  position: relative;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 110px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
 }

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:red;
  color: white;
}

.topnav .icon {
  display: none;
}

h1 {position: absolute;
  width: 997px;
  height: 134px;
  left: 445px;
  top: 150px;
  font-family: Franklin Gothic Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 131.178px;
  line-height: 101.91%;
  }

h2 {
  height: 51px;
  width: 657px;
  left: 611px;
  top: 800px;
  border-radius: nullpx;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 101.91%;
}

p {
  height: 97px;
  width: 1200px;
  left: 403px;
  top: 900px;
  border-radius: nullpx;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position:absolute;
  }

h3{
  position: absolute;
  width: 210px;
  height: 54px;
  left: 850px;
  top: 1000px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 101.91%;
}
h4{
  height: 51px;
  width: 778px;
  left: 837.5px;
  top: 1500px;
  border-radius: 0px;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 101.91%;
}
h5{
  height: 51px;
  width: 778px;
  left: 780px;
  top: 1600px;
  border-radius: 0px;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 101.91%;
}
img {
position: absolute;
width: 328px;
height: 391.64px;
left: 776px;
top: 400px;
    }    
.image1 {
  width: 300px;
  height: 300px;
  left: 600px;
  top: 1150px
}
.image2 {
  width: 300px;
  height: 300px;
  left: 1000px;
  top: 1150px
}
h6{ 
  height: 25px;
  width: 300px;
  left: 625px;
  top: 1420px;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position:absolute;
}
h7 {
  height: 25px;
  width: 300px;
  left: 1025px;
  top: 1480px;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position:absolute;
}

