body {
    background-color:ghostwhite    
}

.topnav {
  background-color:black;
  }

.topnav a {
  position: relative;
  float: left;
  display: block;
  color:ghostwhite;
  text-align: center;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  box-sizing: border-box;
 }

.topnav a:hover {
  background-color: ghostwhite;
  color: black;
}

.topnav a.active {
  background-color:black;
  color: ghostwhite;
}

.topnav .icon {
  display: none;
}
ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
li {
  float:left;
  margin: 1vw;
}
li a {
  display: block;
  text-align: center;
}
h1 {position: absolute;
  width: 997px;
  height: 134px;
  left: 445px;
  top: 25px;
  font-family: Franklin Gothic Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 131.178px;
  line-height: 101.91%;
  box-sizing: border-box;
  }
 
h2 {
  height: 51px;
  width: 657px;
  left: 611px;
  top: 740px;
  border-radius: nullpx;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 101.91%;
  box-sizing: border-box;
}

p {
  height: 97px;
  width: 1000px;
  left: 403px;
  top: 825px;
  border-radius: nullpx;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position:absolute;
  box-sizing: border-box;
  }

h3{
  position: absolute;
  width: 210px;
  height: 54px;
  left: 850px;
  top: 1010px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 101.91%;
  box-sizing: border-box;
  }

h4{
  height: 51px;
  width: 778px;
  left: 837.5px;
  top: 1500px;
  border-radius: 0px;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 101.91%;
  box-sizing: border-box;
  }

h5{
  height: 51px;
  width: 778px;
  left: 780px;
  top: 1600px;
  border-radius: 0px;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 101.91%;
  box-sizing: border-box;
}

img {
position: absolute;
width: 328px;
height: 391.64px;
left: 776px;
top: 300px;
box-sizing: border-box;
max-width:100%;
height:auto;
    }

.image1 {
  width: 300px;
  height: 300px;
  left: 600px;
  top: 1150px
  }

.image2 {
  width: 300px;
  height: 300px;
  left: 1000px;
  top: 1150px
}

.subtitle1{ 
  height: 25px;
  width: 300px;
  left: -185px;
  top: -200px;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position:absolute;
  box-sizing: border-box;
}

.subtitle2 {
  height: 25px;
  width: 300px;
  left: 225px;
  top: -200px;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position:absolute;
  box-sizing: border-box;
}

